.back-link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
  color:rgb(50, 50, 194) ;
}

/* Raised button */
button[mat-raised-button] {
  margin-top: 10px;
  font-weight: 600;
  border-radius: 15px;
  color: whitesmoke;
  padding: 4px 14px;
  background-color: rgb(53, 53, 189);
  text-decoration: none;
}

.table-wrapper {
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}

table th {
  background-color: black;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  color: whitesmoke;
}

table td {
  border-bottom:1px solid rgb(102, 215, 4);
  text-align: center;
  white-space: nowrap;
  
}
