<div class="container">
  <div style="text-align: right; margin-top: 5px">
    <button mat-raised-button color="warn" (click)="onNoClick()">
      &times;
    </button>
  </div>

  <div class="container">
    <h1
      style="
        text-align: center;
        font-weight: bold;
        color: rgb(10, 104, 24);
        margin: bottom 8px;
      "
    >
      Teacher Form
    </h1>

    <div class="form">
      <form [formGroup]="teacher" (ngSubmit)="onSave()">
        <!-- Start Name & Gender fields -->
        <div class="container">
          <!-- Name Field -->
          <mat-form-field appearance="outline" hintLabel="Max 50 characters">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="name"
              maxlength="50"
              placeholder="Enter your name"
            />
            <mat-hint align="end">
              {{ teacher.get('name')?.value?.length || 0 }}/50
            </mat-hint>
          </mat-form-field>

          <!-- Gender field -->
          <mat-form-field appearance="outline">
            <mat-label>Select Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="MALE">MALE</mat-option>
              <mat-option value="FEMALE">FEMALE</mat-option>
              <mat-option value="OTHER">OTHER</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- End Name & Gender fields -->

        <!-- Start Skill & Education fields -->
        <div class="container">
          <!-- Skills Field -->
          <mat-form-field appearance="outline">
            <mat-label>Select Skills</mat-label>
            <mat-select multiple formControlName="skills">
              <mat-option *ngFor="let sk of skillList" [value]="sk">
                {{ sk }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Education field -->
          <mat-form-field appearance="outline">
            <mat-label>Select Highest Education</mat-label>
            <mat-select formControlName="highestEducation">
              <mat-option *ngFor="let edu of educationList" [value]="edu">
                {{ edu }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- End Skill & Education fields -->

        <!-- Start Mobile & Email fields -->
        <div class="container">
          <!-- Mobile Field -->
          <mat-form-field appearance="outline" hintLabel="Max 11 characters">
            <mat-label>Mobile</mat-label>
            <input
              matInput
              formControlName="mobile"
              maxlength="11"
              placeholder="01608200000"
            />
            <mat-hint align="end">
              {{ teacher.get('mobile')?.value?.length || 0 }}/11
            </mat-hint>
          </mat-form-field>

          <!-- Email field -->
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="example@gmail.com"
            />
          </mat-form-field>
        </div>
        <!-- End Mobile & Email fields -->

        <!-- Start NID & Date of Birth fields -->
        <div class="container">
          <!-- NID Field -->
          <mat-form-field appearance="outline" hintLabel="Max 17 characters">
            <mat-label>National ID (NID)</mat-label>
            <input
              matInput
              formControlName="nid"
              maxlength="17"
              placeholder="10 or 17 digit NID NO"
            />
            <mat-hint align="end">
              {{ teacher.get('nid')?.value?.length || 0 }}/17
            </mat-hint>
          </mat-form-field>

          <!-- Date of Birth field -->
          <mat-form-field appearance="outline">
            <mat-label>Select Date of Birth</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dateOfBirth"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <!-- End NID & Date of Birth fields -->

        <!-- Start Present & Permanent Address fields -->
        <div class="container">
          <!-- Present Address Field -->
          <mat-form-field appearance="outline" hintLabel="Max 200 characters">
            <mat-label>Present Address</mat-label>
            <textarea
              matInput
              formControlName="presentAddress"
              maxlength="200"
              placeholder="Enter your address"
            ></textarea>
            <mat-hint align="end">
              {{ teacher.get('presentAddress')?.value?.length || 0 }}/200
            </mat-hint>
          </mat-form-field>

          <!-- Permanent Address Field -->
          <mat-form-field appearance="outline" hintLabel="Max 200 characters">
            <mat-label>Permanent Address</mat-label>
            <textarea
              matInput
              formControlName="permanentAddress"
              maxlength="200"
              placeholder="Enter your address"
            ></textarea>
            <mat-hint align="end">
              {{ teacher.get('permanentAddress')?.value?.length || 0 }}/200
            </mat-hint>
          </mat-form-field>
        </div>
        <!-- End Present & Permanent Address fields -->

        <!-- Profile Image -->
        <div class="container" style="margin-top: 10px; margin-bottom: 10px">
          <label class="section-label">Profile Image:</label>
          <input
            type="file"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
        </div>

        <div class="container">
          <img
            *ngIf="imagePreview"
            [src]="imagePreview"
            alt="Preview"
            width="150"
          />
        </div>

        <!-- Start button -->
        <div class="btnButton" style="text-align: center; font-weight: bold">
          <button mat-raised-button color="primary" type="submit">
              {{ data ? 'Update' : 'Save' }}
          </button>
          <button
            mat-raised-button
            color="warn"
            type="button"
            (click)="onNoClick()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
