<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-header">DASHBOARD</div>

    <nav class="menu">
      <div>
        <div (click)="toggleMenu()" class="menu-item">
          <span>Management</span>
          <ng-container *ngIf="isExpanded; else collapsed">
            <i class="pi pi-chevron-down"></i>
          </ng-container>
          <ng-template #collapsed>
            <i class="pi pi-chevron-up"></i>
          </ng-template>
        </div>

        <div *ngIf="isExpanded" class="submenu">
          <a class="submenu-item" (click)="showEntity('employee')">Employee</a>
          <a class="submenu-item" (click)="showEntity('teacher')">Teacher</a>
          <a class="submenu-item" (click)="showEntity('student')">Student</a>
          <a class="submenu-item" (click)="showEntity('course')">Course</a>
        </div>
      </div>
      <!-- 
      <a class="menu-item" (click)="showEntity('dashboard')">Dashboard</a> -->
      <a routerLink="/report" class="menu-item">Reports</a>
      <a routerLink="/settings" class="menu-item">Settings</a>
      <button class="menu-item btn btn-danger" (click)="logout()">
        Logout
      </button>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="main">
    <!-- Header -->
    <div class="header">
      <!-- Marquee -->
      <div class="marquee-content">
        Md. Mizanur Rahman (Full Stack Java Developer) Computer Network Systems
        (CNS) Limited, Dhaka, Bangladesh.
      </div>
      <!-- end Marquee -->
    </div>
    <!-- End Herader -->

    <div [ngSwitch]="selectedEntity" class="entity-container">
      <app-employee-list *ngSwitchCase="'employee'"></app-employee-list>
      <app-teacher-list *ngSwitchCase="'teacher'"></app-teacher-list>
      <app-student-list *ngSwitchCase="'student'"></app-student-list>
      <app-course-list *ngSwitchCase="'course'"></app-course-list>

      <!-- Default dashboard -->
      <!-- <p *ngSwitchDefault="">this home page</p> -->
      <app-dashboard *ngSwitchDefault></app-dashboard>
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>© 2025 My Company. All rights reserved.</p>
  </footer>
</div>
